@font-face {
  font-family: "Homemade Apple";
  src: url(./HomemadeApple-Regular.ttf) format("truetype");
}

body {
  background-color: black;
  padding: 0;
  margin: auto;
  color: white;
  max-width: 600px;
}

.logo {
  margin: 1em;
  text-align: center;
}

@keyframes float {
  from {
    top: 0;
  }
  to {
    top: .5em;
  }
}

.logo img {
  position: relative;
  width: 15em;
  margin: 1em;
  animation: 2s infinite ease-in-out .25s alternate float;
}

.logo .text {
  font-family: "Homemade Apple", sans-serif;
  font-size: 2em;
}

.pricing-title {
  text-align: center;
  font-size: 1.5em;
  padding-bottom: .25em;
}

.pricing {
  text-align: center;
  width: 50%;
  margin: auto;
}

.pricing > .column {
  width: 33%;
  float: left;
}

.pricing > .column > .column-border {
  padding-top: .5em;
  padding-bottom: .5em;
  background-color: #55932F;
}

.pricing > .column:nth-child(1) > .column-border {
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  border: solid white 1pt;
}

.pricing > .column:nth-child(2) > .column-border {
  border-top: solid white 1pt;
  border-bottom: solid white 1pt;
}

.pricing > .column:nth-child(3) > .column-border {
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  border: solid white 1pt;
}

.pricing:after {
  content: "";
  display: table;
  clear: both;
}

.pricing-subtitle {
  padding-top: .25em;
  text-align: center;
  color: #777;
  font-size: .75em;
}

.features {
  margin-top: 1em;
}

.features > .list {
  margin: 1em;
}

.features > .list .fas {
  font-size: 2em;
}

.features > .list .fa-angle-down {
  font-size: 1em !important;
}

.features > .list td {
  padding: .25em;
}

.features > .list tr td:nth-child(2) {
  text-align: center;
}

.features > .list .collapse {
  display: none;
}
